<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336915923090-cmdhv3e3v7urfbtj47nmpqu4tnojttqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336915923090-cmdhv3e3v7urfbtj47nmpqu4tnojttqb</string>
	<key>API_KEY</key>
	<string>AIzaSyCVtK5MBphvuKJMYb6z91e0daSxm0utAFY</string>
	<key>GCM_SENDER_ID</key>
	<string>336915923090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chandlermathews.ToDo-App</string>
	<key>PROJECT_ID</key>
	<string>todo-app-e334e</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-e334e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336915923090:ios:b2b8a987c342237e55a64b</string>
	<key>DATABASE_URL</key>
	<string>https://todo-app-e334e.firebaseio.com</string>
</dict>
</plist>